---
layout: default
title: Machine Learning Notes
---
<h2>About Me</h2>
<p>
	I am a programmer interested in Machine Learning, Algorithm and Distributed System.
</p>

<h2>Posts</h2>
{% for cat in site.categories %}
	<b>{{cat | first}} ({{cat | last | size}})</b>
	<ul>
	{% for post in cat.last %}
		<li>{{post.date | date_to_string}} <a href="{{site.baseurl}}{{post.url}}">{{post.title}} </a></li>
	{% endfor %}
	</ul>
{% endfor %}

<h2>Tags</h2>
{% for tag in site.tags %}
	<b>{{site.tags[tag]}}</b>
{% endfor %}



